
div {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  border-radius: 4px;
}

  button:hover {
    background-color: #45a049;
  }

  button.edit {
    background-color: #2196f3;
  }

    button.edit:hover {
      background-color: #0b7dda;
    }

  button.delete {
    background-color: #f44336;
  }

    button.delete:hover {
      background-color: #d32f2f;
    }

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"],
button[type="button"] {
  padding: 10px 15px;
}

.fa {
  margin-right: 5px;
}

.expenses-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

  .expenses-table th,
  .expenses-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .expenses-table th {
    background-color: #f2f2f2;
  }

.edit{
    margin-left: 1rem;
}
.delete {
  margin-left: 1rem;
}
